<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <!--- 測試EJS -->
    <p>
        當前年份：<%= new Date().getFullYear().toString() %>
    </p>
    <%- include('./components/LOGO.ejs') %>
        <!--- 測試CSS -->
        <h1>預設頁面</h1>
        <!--- 測試PostCSS -->
        <p>這段文字不能被選取</p>
        <!--- 測試Asset資源載入 -->
        <div class="imgs">
            <!-- 必須透過js載入圖片 無法直接使用img路徑 -->
            <!-- <img src="../assets/images/p1.jpg" alt="">
            <img src='../assets/images/p2.jpg' alt="">
            <img src='../assets/images/p3.jpg' alt=""> -->
            <img id="img1" alt="">
            <img id="img2" alt="">
            <img id="img3" alt="">
        </div>

</body>

</html>